
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: auto; 
}

/* Typography
--------------------------------------------- */
body {
	font-family: "Noto Sans";
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.6;
	color: #272831;
	background-color: #E8F4F2;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Climate Crisis";
	font-weight: 700;
	color: #13806E;
	font-size: 2rem;
	text-transform: uppercase;
}



h3 {
	font-size: 1rem;
}

p {
	padding: 0 1rem;
	margin: 0;
}




/* link
--------------------------------------------- */

a {
	color: #272831;
	text-decoration: none;
}


/* Elements
--------------------------------------------- */

/* header */

.header {
	position: fixed;
  	top: 0;
	width: 100vw;
	box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #13806E;
}

.nav-menu {
	display: none;
}

.menu-toggle {
	background: none;
    border: none;
	fill: #FFA200;
	z-index: 9999;  
}

header a {
	font-family: "Climate Crisis";
	font-weight: 700;
	color: #FFA200;
	display: block;
} 


@media (min-width: 50em) {
	
	header a {
		font-size: 1.5rem;
	}

	.menu-toggle {
		display: none;
	}

	.nav-menu {
		display: flex;
	}
	
	.nav-menu ul{
		display: flex;
		flex-direction: row;
	}

	.nav-menu li{
		list-style: none;
		margin-left: 1.5rem;
		display: block;
	}

	
	header a:hover,
	header a:focus,
	header :active {
		color: #E8F4F2;
		font-size: 1.7rem;
	}

}


/* page header */

.page-header {
	height: 22rem;
	margin: 4rem 0 ;
	padding: 2rem;
	background-color: #13806E;
	text-align: center;
	display: flex;
  	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.page-header h1 {
	color: #FFA200;
}

.page-header p {
	color: #E8F4F2;
}



/* PROJECTS */

.project-container {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 2rem;
	}

.projects h2 {
	font-size: 1.5rem;
	padding: 3rem 1rem 1.5rem 1rem;
}

.projects-cards {
	border: 0.05rem solid #dbf4f0;
	box-shadow: 0.25rem 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2);
	/* reference -> https://haniwaman.com/css-box-shadow/ */
	border-radius: 20px ; 
	padding: 0;
	/* margin: 1rem auto 2rem auto; */
	max-width: 20rem;
}

.projects-cards h2 {
	padding: 0.5rem 1rem;
	margin: 0;
}

.projects-cards h3 {
	padding: 0.5rem 1rem;
	margin: 0;
}

.projects-cards img {
	width: 100%;
	border-radius: 20px 20px 0 0 ;
}

.tools img {
	width: 2rem;
	padding: 0 0.5rem 0.5rem 0.5rem;
	border-radius: 0 ; 
}

.button-container {
	font-family: "Climate Crisis";
	font-weight: 700;
	font-size: 1rem;
	width: 10rem;
	text-align: center;
	border: 0 solid #13806E;
	background-color: #13806E;
	padding: 0.2rem;
	margin: 2rem auto;
	border-radius: 0.5rem;
	box-shadow: 0.25rem 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2);
	/* reference -> https://haniwaman.com/css-box-shadow/ */
}

.button-container a {
	color: #E8F4F2;
	display: block;
}

.button-container:hover,
.button-container:focus,
.button-container:active {
	background-color: #FFA200;
	color: #E8F4F2;
	width: 13rem;
}

@media (min-width: 50em) {

	.project-container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content:center ;
	}

}

/* ABOUT */

.about h2 {
	text-align: center;
	padding: 3rem 2rem 1.5rem 2rem;
}

.about p {
	margin: 0 1rem 2rem 1rem ;
}


/* FOOTER */

.footer {
	background-color: #13806E;
	margin-top:4rem ;
}

.footer-containar {
	display: flex;
    justify-content: space-between; 
    align-items: flex-start;   
    padding: 2rem;                 
    margin: 0;
}

.footer ul {
    list-style: none;
    padding: 0;  
    margin: 0;
}
.footer li {
	padding: 0.5rem 0;
}

.footer a {
	color: #E8F4F2;
}

.linkedin {
	width: 3rem;
}

.footer p {
	color: #E8F4F2;
	text-align: center;
	margin-top: 3rem;
}

.footer a:hover,
.footer a:focus,
.footer a:active {
	font-size: 1.3rem;
}

